@using Mango.Common
@using Mango.Data
@using Mango.Data.Enums
@using Mango.Client.Common
@using Mango.Web
@using Mango.Security
@model User

@{
    ViewBag.Title = Model.Id == 0 ? "Create" : "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var user = (User)ViewBag.User;
    var disabled = false;
    if (Model.Id != 0 && !UserPermission.Has(Permission.User_Create) && !user.IsAdminCompany)
    {
        disabled = true;
    }
}
<div class="row">
    <div class="col-xs-12">
        <div class="page-title-box">
            <h4 class="page-title">Staff</h4>
            <ol class="breadcrumb p-0 m-0">
                <li>
                    <a href="@Url.Action("Index","Home")">Mango</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","User")">Staff</a>
                </li>
                <li class="active">
                    @if (Model.Id == 0)
                    {
                        <strong>Create</strong>
                    }
                    else
                    {
                        <strong>Edit</strong>
                    }
                </li>
            </ol>

            <div class="clearfix"></div>
            @if (UserPermission.Has(Permission.User_Create) || user.IsAdminCompany)
            {
               <a style="margin-right:10px" onclick="$('#btCreate').click()" class="btn btn-primary waves-effect waves-light m-t-sm">Save</a>
            }
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default waves-effect m-t-sm" })
        </div>
    </div>
</div>
<!-- end row -->

<div class="card-box animated fadeInRight">
    <div class="row">

        @using (Ajax.BeginForm("Create", "User", null, new AjaxCommonOption { OnSuccess = "CreateSuccess" }, new { role = "form", @id = "CreateEditAjax", enctype = "multipart/form-data" }))
        {
            <input type="hidden" name="selectedPermissions" id="selectedPermissions" />
            <div class="col-lg-12">
                <!--Box thông tin-->
                <div class="ibox ">
                    <div>
                        <h5>Info</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            @Html.HiddenFor(model => model.Id)
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                <label class="control-label col-md-2">Name<span style="color: Red">*</span></label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.FullName, new { @class = "form-control ", data_val = "true", data_val_required = "Thông tin bắt buộc" })
                                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-md-2">Email<span style="color: Red">*</span></label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control ", data_val = "true", data_val_required = "Thông tin bắt buộc" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group">
                                @if (Model.Id == 0)
                                {
                                    <label class="control-label col-md-2">Username<span style="color: Red">*</span></label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control ", data_val = "true", data_val_required = "Thông tin bắt buộc" })
                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                    </div>
                                }
                                else
                                {
                                    <label class="control-label col-md-2">Username</label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                }
                                <label class="control-label col-md-2">Phone</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control " })
                                </div>
                            </div>
                            @if(Model.Id == 0)
                            { 
                            <div class="form-group">

                                <label class="control-label col-md-2">
                                    Password                             
                                        <span style="color: Red">*</span>      
                                </label>
                                <div class="col-md-4">
                                    <input class="form-control" id="Password" name="Password" type="password">
                                </div>
                                <label class="control-label col-md-2">
                                    Confirm password
                                        <span style="color: Red">*</span>                           
                                </label>
                                <div class="col-md-4">
                                    <input class="form-control" data-val="true" data-val-equalto="Password incorrect" data-val-equalto-other="*.Password" id="RetypePassword" name="RetypePassword" type="password">
                                    @Html.ValidationMessage("RetypePassword")
                                </div>


                            </div>
                            }
                            <div class="form-group">
                                <label class="control-label col-md-2">Status<span style="color: Red">*</span></label>
                                <div class="col-md-4">
                                    @Html.EnumDropDownList("Status", Model.Status, typeof(UserStatus), true, "", new { @class = "form-control ", data_val = "true", data_val_required = "Thông tin bắt buộc" }, "-- Status --")
                                    @Html.ValidationMessageFor(x => x.Status)
                                </div>
                                <label class="control-label col-md-2">Image</label>
                                <div class="col-md-4">
                                    <button  id="btnImage" type="button" class="btn btn-success waves-light waves-effect w-md">Choose image</button>
                                    <input type="file" class="form-control" name="FileAttach" id="Image" style="display:none" />
                                    <div style="margin-top:10px; ">
                                        <img src="@(Model.Image.NotEmpty() ? Url.Content(Model.Image) : "")" style="@(Model.Image.NotEmpty() ? "" : "display: none")" width="150" id="blah" />
                                    </div>
                                </div>
                            </div>
                          
                            
                                @*<div class="form-group">
                                    <div class="col-md-4">
                                        <input type="submit" value="Lưu" class="btn btn-primary" id="btCreate" />
                                        @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-white " })
                                    </div>
                                    <br style="clear: both" />
                                </div>*@
                         
                        </div>

                    </div>
                </div>
                <!-- End Box thông tin-->
                <!-- Box danh sách nhóm quyền-->
                @{ var groups = ViewBag.Groups as List<Group>; }
                @if (groups != null && groups.Any())
                {
                    <div class="ibox">
                        <div>
                            <h5>List group role</h5>

                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <div class="ibox float-e-margins">

                                    <table style="min-width: 100%" class="table-hover">
                                        @foreach (var item in groups)
                                        {
                                            <tr>
                                                <td style="width: 1%; text-align: left;"><input type="checkbox" @Html.Raw(Model.Groups.Any(x => x.GroupId == item.GroupId) ? "checked" : "") name="selectedGroup" value="@( item.GroupId)"></td>
                                                <td style="width: 20%; text-align: left;">@item.Name</td>
                                            </tr>
                                        }
                                    </table>

                                </div>
                            </div>
                        </div>

                    </div>
                }
                <!-- End Box danh sách nhóm quyền-->
               
                    <div class="ibox">
                        <div >
                            <h5>List role</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="m-b-md">
                                @Html.Partial("~/Areas/Admin/Views/GroupPermission/_PermissionTree.cshtml", Model.User_Permission.Select(x => (Permission)x.PermissionId).ToList())
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                @if (UserPermission.Has(Permission.User_Create) || user.IsAdminCompany)
                                {
                                          <input type="submit" value="Save" class="btn btn-primary" id="btCreate" style="margin-right:10px" />
                                }
                                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white" })
                                </div>
                                <br style="clear: both" />
                            </div>
                        </div>

                    </div>
             
            </div>
        }
    </div>
</div>



@section Styles {
    @*<link href="~/Content/plugin/iCheck/custom.css" rel="stylesheet" />*@


    <style>
        .datepicker {
            z-index: 1200 !important;
        }
    </style>
}

@section scripts
{
    @*<script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>*@
    @if (Model.Id != 0 && !UserPermission.Has(Permission.User_Create) && !user.IsAdminCompany)
    {
        <script type="text/javascript">
            $("input").attr("disabled", "disabled");
            $("select").attr("disabled", "disabled");
        </script>
    }
    <script>
        $(document).on('ready',
                function () {
                  
                    $(function () {
                        $("#btnImage").on('click', function (e) {
                            e.preventDefault();
                            $("#Image:hidden").trigger('click');
                        });
                    });

                    function readURL(input) {

                        if (input.files && input.files[0]) {
                            var reader = new FileReader();

                            reader.onload = function (e) {
                                $('#blah').attr('src', e.target.result);
                                $('#blah').show();
                            }

                            reader.readAsDataURL(input.files[0]);
                        }
                    }

                    $("#Image")
                        .change(function () {
                            readURL(this);
                        });
                    //$('#DataFolder').tagsinput({
                    //    tagClass: 'label label-primary'
                    //});
               
                   
                    $('#CreateEditAjax').submit(function () {
                        alert(1);
                        var permission = GetSelectedPermisison();
                        console.log(1);

                        console.log(permission);
                        $('#selectedPermissions').val(permission.join());

                    });
                   
              
                    @if (Model.Id == 0){
                        <text>$("#Status").val("")</text>
                    }

                    inItUploadAjaxForm(CreateSuccess);
                });


        function inItUploadAjaxForm(successFunction) {
            window.addEventListener("submit", function (e) {
                if (!$('#CreateEditAjax').valid()) {
                    return false;
                }

               var permission = GetSelectedPermisison();
                $('#selectedPermissions').val(permission.join());

                var form = e.target;
                if (form.getAttribute("enctype") === "multipart/form-data") {
                    if (form.dataset.ajax) {
                        e.preventDefault();
                        e.stopImmediatePropagation();
                        var xhr = new XMLHttpRequest();
                        xhr.open(form.method, form.action);
                        xhr.onreadystatechange = function (result) {
                            if (xhr.readyState == 4 && xhr.status == 200) {
                                if (successFunction)
                                    successFunction(xhr.responseText);
                            }
                        };
                        xhr.send(new FormData(form));
                    }
                }
            }, true);
        }



        function CreateSuccess(result) {
            var data = JSON.parse(result);
            OnSuccessAjax(data);
        }

    </script>
}




