@using Mango.Services
@using Mango.Common
@using Mango.Data.Enums
@using Mango.Security
@using Mango.Web
@{
    var user = UserService.GetUserInfo();
}
<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <div class="user-details">
                <div class="overlay"></div>
                <div class="text-center">
                    <img src="@(user.Image.NotEmpty() ? Url.Content(user.Image) : Url.Content("~/Content/Upload/default-user.png"))" alt="user-img" class="thumb-md img-circle">
                </div>
                <div class="user-info">
                    <div>
                        <a href="#setting-dropdown" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">@user.FullName <span class="mdi mdi-menu-down"></span></a>
                    </div>
                </div>
            </div>

            <div class="dropdown" id="setting-dropdown">
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)"><i class="mdi mdi-face-profile m-r-5"></i> Profile</a></li>
                    <li><a href="javascript:void(0)"><i class="mdi mdi-logout m-r-5"></i> Logout</a></li>
                </ul>
            </div>

            <ul>
                <li class="menu-title">Menu</li>

             
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-account-multiple"></i> <span> Administrator </span> <span class="menu-arrow"></span></a>

                    <ul class="list-unstyled">
                        @if (UserPermission.Has(Permission.User_View) || UserPermission.Has(Permission.User_Create) || user.IsAdminCompany)
                        {
                            <li class="@Html.IsSelected(action: "Index, Detail", controller: "User")"><a href="@Url.Action("Index", "User")">User</a></li>
                        }
                        @if (UserPermission.Has(Permission.GroupPermission_View) || UserPermission.Has(Permission.GroupPermission_Create)  || user.IsAdminCompany)
                        {
                            <li class="@Html.IsSelected(action: "Index,Create,Edit", controller: "GroupPermission")"><a href="@Url.Action("Index", "GroupPermission")">Role</a></li>
                        }
                    </ul>
                </li>    
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-book-multiple"></i> <span> Merchandise </span> <span class="menu-arrow"></span></a>

                    <ul class="list-unstyled">
                        @if (UserPermission.Has(Permission.Category_View) || UserPermission.Has(Permission.Category_Create) || user.IsAdminCompany)
                        {
      
                            <li class="@Html.IsSelected(action: "Index", controller: "Menu")"><a href="@Url.Action("Index", "Menu")">Menu</a></li>

                        }
                        @if (UserPermission.Has(Permission.Category_View) || UserPermission.Has(Permission.Category_Create) || user.IsAdminCompany)
                        {
                            <li class="@Html.IsSelected(action: "Index", controller: "Category")"><a href="@Url.Action("Index", "Category")">Category</a></li>
                        }
                        @if (UserPermission.Has(Permission.Product_Create) || UserPermission.Has(Permission.Product_View) || user.IsAdminCompany)
                        {
                            <li class="@Html.IsSelected(action: "Index, Detail", controller: "Product")"><a href="@Url.Action("Index", "Product")">Product</a></li>
                        }
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-transfer"></i> <span> Transaction </span> <span class="menu-arrow"></span></a>

                    <ul class="list-unstyled">
                        @if (UserPermission.Has(Permission.StoreOrder_ViewImport) || UserPermission.Has(Permission.StoreOrder_CreateImport) || UserPermission.Has(Permission.StoreOrder_ConfirmImport) || user.IsAdminCompany)
                        {
                            <li class="@Html.IsSelected(action: "StoreOrderImport,DetailStoreImport", controller: "StoreOrder")"><a href="@Url.Action("StoreOrderImport", "StoreOrder")">Store import</a></li>
                        }
                        @if (UserPermission.Has(Permission.StoreOrder_ViewExport) || UserPermission.Has(Permission.StoreOrder_CreateExport) || user.IsAdminCompany)
                        {
                            <li class="@Html.IsSelected(action: "StoreOrderExportDetailStoreExport", controller: "StoreOrder")"><a href="@Url.Action("StoreOrderExport", "StoreOrder")">Store export</a></li>
                        }
                    </ul>
                </li>
                @if (UserPermission.Has(Permission.Order_View) || UserPermission.Has(Permission.Order_Create) || user.IsAdminCompany)
                {
                    <li class="@Html.IsSelected(action: "Index, Detail", controller: "Order") ">
                        <a href="@Url.Action("Index", "Order")" class="waves-effect"><i class="mdi mdi-package"></i><span> Order </span></a>
                    </li>
                }
                @if (UserPermission.Has(Permission.Warehouse_View) || user.IsAdminCompany)
                {
                    <li class="@Html.IsSelected(action: "Index", controller: "Warehouse") ">
                        <a href="@Url.Action("Index", "Warehouse")" class="waves-effect"><i class="mdi mdi-bank"></i><span> Warehouse </span></a>
                    </li>
                }
        
                @if (UserPermission.Has(Permission.Store_View) || UserPermission.Has(Permission.Store_Create) || user.IsAdminCompany)
                {
                    <li class="@Html.IsSelected(action: "Index, Detail", controller: "Store") ">
                        <a href="@Url.Action("Index", "Store")" class="waves-effect"><i class="mdi mdi-home"></i><span> Store </span></a>
                    </li>  
                }

            </ul>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

        <div class="help-box">
            <h5 class="text-muted m-t-0">Need help ?</h5>
            <p class=""><span class="text-white"><b>Email:</b></span> <br /> tytv@magik.vn</p>
            <p class="m-b-0"><span class="text-white"><b>Call:</b></span> <br /> (+84) 1677012829</p>
        </div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->
