@using Mango.Common
@using Mango.Client.Common
@using Mango.Services
@using Mango.Security
@using Mango.Data.Enums
@using Mango.Web
@using Mango.Data

@using PagedList.Mvc;
@model Mango.Services.PagedSearchList<Order>

    @{
        var user = UserService.GetUserInfo();
    }


    <div class="">
        <h5 class="m-t-lg">Has @Model.TotalItemCount item</h5>
    </div>
    <table class="table table-striped table-colored table-info table-hover">
        <thead>
            <tr>
                <th>
                    STT
                </th>
                <th>
                    Code
                </th>
                <th>
                    Customer
                </th> 
                <th>
                    Store
                </th>       
                <th>
                    Revenue
                </th>
                <th>
                    Date Sale
                </th>
                <th>
                    Satus
                </th>
               
                <th data-sorter="false">
                </th>
               
            </tr>
        </thead>
        @{ int index = Model.PageSize * (Model.PageNumber - 1) + 1; }
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(index++)
                    </td>

                    <td>
                        @item.Code
                    </td>
                    <td>
                        @item.Customer.FullName
                    </td>
                    <td>
                        @item.Store.Name
                    </td>
                    <td>
                        @item.TotalAmount.MoneyToStringVN()
                    </td>
                   
                    <td>
                        @item.TimeCreate.ToString("dd-MM-yyyy")
                    </td>
                    <td>
                        @if (item.Status == OrderStatus.Confirm)
                        {
                            <label style="color:orange">Confirm</label>
                        }
                        else if (item.Status == OrderStatus.Pending)
                        {
                            <label style="color:green">Pending</label>
                        }
                        else 
                        {
                            <label style="color:green">Completed</label>
                        }
                    </td>
                    <td>
                        @if (item.Status == OrderStatus.Confirm && (UserPermission.Has(Permission.Order_Confirm) || user.IsAdminCompany))
                        {
                            <a href="@Url.Action("Detail", new { id = item.Id })">Confirm</a>
                        }
                        else if (item.Status == OrderStatus.Pending && (UserPermission.Has(Permission.Order_Confirm) || user.IsAdminCompany))
                        {
                            <a href="@Url.Action("Detail", new { id = item.Id })">Complete</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Detail", new { id = item.Id })">View</a>
                        }
                    </td>         
                </tr>
            }
        </tbody>
    </table>

    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    @Html.PagedListPager(Model, page =>
{
    Model.SearchModel.PageIndex = page;
    return Url.Action("Index", "Order", Model.SearchModel);
},
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxCommonOption() { HttpMethod = "POST", UpdateTargetId = "content" }))


    <script type="text/javascript">
        $(function () {
            InitSortTable();
        });

   
    </script>
