@using System.Linq

@using Mango.Common
@using Mango.Client.Common
@using Mango.Security
@using Mango.Data.Enums
@using Mango.Data

@model List<Permission>
    @{
        ViewBag.disabled = ViewData["Disabled"];

        var allPermissions = EnumUtil.GetListPermission().ToList();
        var dic = new Dictionary<Permission, EnumUtil.NodeStatus>();
        foreach (var permission in allPermissions)
        {
            dic.Add(permission, new EnumUtil.NodeStatus()
            {
                Selected = Model.Any(x => x == permission),
                Showed = false
            });
        }
    }
    <link href="~/Content/Admin/plugin/JsTree/style.css" rel="stylesheet" />
    <div id="jstree2"></div>

    <script src="~/Scripts/Admin/jsTree3/jstree.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var disabled = '@ViewBag.disabled';

            $('#jstree2').jstree({
                'plugins': ["checkbox"],
                'core': {
                    'data': [
                        {
                            "text": "All",
                            "icon": "fa fa-list",
                            "state": { "opened": true, "disabled": (disabled == "True") ? true : false },
                            "children": [
                            {
                                "text": "Administrator",
                                "icon": "fa fa-user",
                                "state": { "opened": false, "disabled": (disabled == "True") ? true : false },
                                "children": [
                                    {
                                        "text": "Staff",
                                        "children": [
                                            @EnumUtil.ToTreeNode(Permission.User_View, dic),
                                            @EnumUtil.ToTreeNode(Permission.User_Create, dic),
                                            @EnumUtil.ToTreeNode(Permission.User_Delete, dic)

                                        ]
                                    },
                                    {
                                        "text": "Role",
                                        "children": [
                                            @EnumUtil.ToTreeNode(Permission.GroupPermission_View, dic),
                                            @EnumUtil.ToTreeNode(Permission.GroupPermission_Create, dic),
                                            @EnumUtil.ToTreeNode(Permission.GroupPermission_Delete, dic)
                                        ]
                                    }
                                ]
                            },

                         {
                             "text": "Merchandise",
                             "icon": "mdi mdi-book-multiple",
                             "state": { "opened": false, "disabled": (disabled == "True") ? true : false },
                             "children": [
                                 {
                                     "text": "Category",
                                     "children": [
                                         @EnumUtil.ToTreeNode(Permission.Category_View, dic),
                                         @EnumUtil.ToTreeNode(Permission.Category_Create, dic),
                                         @EnumUtil.ToTreeNode(Permission.Category_Delete, dic)

                                     ]
                                 },
                                 {
                                     "text": "Product",
                                     "children": [
                                         @EnumUtil.ToTreeNode(Permission.Product_View, dic),
                                         @EnumUtil.ToTreeNode(Permission.Product_Create, dic),
                                         @EnumUtil.ToTreeNode(Permission.Product_Delete, dic)
                                     ]
                                 }
                             ]
                         },

                           {
                               "text": "Transaction",
                               "icon": "mdi mdi-transfer",
                               "state": { "opened": false, "disabled": (disabled == "True") ? true : false },
                               "children": [
                                   {
                                       "text": "Order import",
                                       "children": [
                                           @EnumUtil.ToTreeNode(Permission.StoreOrder_ViewImport, dic),
                                           @EnumUtil.ToTreeNode(Permission.StoreOrder_CreateImport, dic),
                                           @EnumUtil.ToTreeNode(Permission.StoreOrder_ConfirmImport, dic)

                                       ]
                                   },
                                   {
                                       "text": "Order export",
                                       "children": [
                                           @EnumUtil.ToTreeNode(Permission.StoreOrder_ViewExport, dic),
                                           @EnumUtil.ToTreeNode(Permission.StoreOrder_CreateExport, dic)
                                       ]
                                   }
                               ]
                           },
                             {
                                 "text": "Order",
                                 "icon": "mdi mdi-package",
                                 "state": { "opened": false, "disabled": (disabled == "True") ? true : false },
                                 "children": [
                                        @EnumUtil.ToTreeNode(Permission.Order_View, dic),
                                        @EnumUtil.ToTreeNode(Permission.Order_Create, dic),
                                        @EnumUtil.ToTreeNode(Permission.Order_Confirm, dic)
                                 ]
                             },
                             {
                                 "text": "Warehouse root",
                                 "icon": "mdi mdi-bank",
                                 "state": { "opened": false, "disabled": (disabled == "True") ? true : false },
                                 "children": [
                                        @EnumUtil.ToTreeNode(Permission.Warehouse_View, dic)
                                 ]
                             },

                             {
                                 "text": "Store",
                                 "icon": "mdi mdi-home",
                                 "state": { "opened": false, "disabled": (disabled == "True") ? true : false },
                                 "children": [
                                        @EnumUtil.ToTreeNode(Permission.Store_View, dic),
                                        @EnumUtil.ToTreeNode(Permission.Store_Create, dic),
                                        @EnumUtil.ToTreeNode(Permission.Store_Deleted, dic)

                                 ]
                             },
                            ]
                        }
                    ]
                }

            });
        });


        function GetSelectedPermisison() {
            var checked = [];
            var selelected = $("#jstree2").jstree("get_checked", true);
            $.each(selelected, function () {
                if (this.original.id) {
                    checked.push(this.original.id);
                }
            });
            return checked;
        }


    </script>
