@using Mango.Common
@using Mango.Client.Common
@using Mango.Services
@using Mango.Security
@using Mango.Data.Enums

@model Mango.Areas.Admin.Models.StoreOrderImportSearchModel
<link href="~/Content/Admin/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Store Order Import";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var user = UserService.GetUserInfo();
}
<div class="row">
    <div class="col-xs-12">
        <div class="page-title-box">
            <h4 class="page-title">Store Order Import</h4>
            <ol class="breadcrumb p-0 m-0">
                <li>
                    <a href="@Url.Action("Index", "Home")">Mango</a>
                </li>
                <li class="active">
                    <strong>Store Order Import</strong>
                </li>
            </ol>

            <div class="clearfix"></div>
            @if (UserPermission.Has(Permission.WarehouseOrder_CreateImport) || user.IsAdminCompany)
            {
                <a class="btn btn-primary waves-effect waves-light m-t-sm" href="@Url.Action("DetailStoreImport")">Create</a>
            }
        </div>
    </div>
</div>
<!-- end row -->
<div class="row animated fadeInRight">
    <div class="col-sm-12">

        <div class="card-box">
            <div>
                <h5>Search</h5>
            </div>
            <div class="ibox-content">
                @using (Ajax.BeginForm("StoreOrderImport", null, new AjaxCommonOption() { UpdateTargetId = "content" }, new { id = "SearchForm" }))
                {
                    <div class="form-horizontal row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Code</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.Code, new { @class = "form-control", @placeholder = "Code" })
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">User import</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(x => x.UserImport, null, "-- User import --", new { @class = "form-control" })
                                </div>
                                <label class="col-md-2 control-label">Store import</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(x => x.RefStoreId, null, "-- Store import --", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Date import from</label>
                                <div class="col-md-4">
                                    <div class="input-group date start">
                                        @Html.TextBoxFor(x => x.TimeImportFrom, new { @class = "form-control", @placeholder = "Day/Month/Year", data_val = "false" })
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <label class="col-md-2 control-label">Date import to</label>
                                <div class="col-md-4">
                                    <div class="input-group date end">
                                        @Html.TextBoxFor(x => x.TimeImportTo, new { @class = "form-control", @placeholder = "Day/Month/Year", data_val = "false" })
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button class="btn btn-primary waves-effect waves-light" id="btSearch" type="submit">Search</button>
                                    <button class="btn btn-primary waves-effect waves-light" type="button" id="btReset">Reset</button>

                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="card-box table-responsive">
            <h5>List Order Import</h5>

            <div class="ibox-content">
                <div id="content">

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/Admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Admin/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/Admin/plugins/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="~/Scripts/Admin/plugins/datatables/dataTables.keyTable.min.js"></script>
    <script src="~/Scripts/Admin/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/Admin/plugins/datatables/responsive.bootstrap.min.js"></script>
    <script src="~/Scripts/Admin/plugins/datatables/jquery.datatables.init.js"></script>

    <script>
        function process(date) {
            var parts = date.split("/");
            return new Date(parts[2], parts[1] - 1, parts[0]);
        }

        $("#btSearch").click(function () {
            var from = process($("#TimeImportFrom").val());
            var to = process($("#TimeImportTo").val());
            if (to != "" && from != "" && from > to) {
                AlertError("Vui lòng chọn ngày nhập từ nhỏ hơn hoặc bằng ngày nhập đến");
                return false;
            }
        });
    </script>
}
