@using Mango.Common
@using Mango.Client.Common
@using Mango.Services
@using Mango.Security
@using Mango.Data.Enums
@using Mango.Web
@using Mango.Data
@model Mango.Models.ProductModel
@{
    ViewBag.Title = @Model.product.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

       <!-- /banner_bottom_agile_info -->
<div class="page-head_agile_info_w3l">
    <div class="container">
        <h3><span>@Model.product.Name</span></h3>
        <!--/w3_short-->
        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">

                <ul class="w3_short">
                    <li><a href="@Url.Action("Index","Home")">Home</a><i>|</i></li>
                    <li>@Model.product.Name</li>
                </ul>
            </div>
        </div>
        <!--//w3_short-->
    </div>
</div>

 <!-- banner-bootom-w3-agileits -->
<div class="banner-bootom-w3-agileits">
    <div class="container">
        <div class="col-md-4 single-right-left ">
            <div class="grid /Content/images_3_of_2">
                <div class="flexslider">

                    <ul class="slides">
                        <li data-thumb="@Url.ImageProductSlide(Model.product, 0)">
                            <div class="thumb-image"> <img src="@Url.ImageProductSlide(Model.product, 0)" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                        <li data-thumb="@Url.ImageProductSlide(Model.product, 1)">
                            <div class="thumb-image"> <img src="@Url.ImageProductSlide(Model.product, 1)" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                        <li data-thumb="@Url.ImageProductSlide(Model.product, 2)">
                            <div class="thumb-image"> <img src="@Url.ImageProductSlide(Model.product, 2)" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-8 single-right-left simpleCart_shelfItem">
            <h3>@Model.product.Name</h3>
            <p><span class="item_price">@Model.product.SellingPrice.MoneyToStringVN() VNĐ</span></p>
            <div class="rating1">
                <span class="starRating">
                    <input id="rating5" type="radio" name="rating" value="5">
                    <label for="rating5">5</label>
                    <input id="rating4" type="radio" name="rating" value="4">
                    <label for="rating4">4</label>
                    <input id="rating3" type="radio" name="rating" value="3" checked="">
                    <label for="rating3">3</label>
                    <input id="rating2" type="radio" name="rating" value="2">
                    <label for="rating2">2</label>
                    <input id="rating1" type="radio" name="rating" value="1">
                    <label for="rating1">1</label>
                </span>
            </div>
         
            <div class="color-quality">
                <div class="color-quality-right">
                    <h5>Quality :</h5>
                    <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
                        <option value="null">5 Qty</option>
                        <option value="null">6 Qty</option>
                        <option value="null">7 Qty</option>
                        <option value="null">10 Qty</option>
                    </select>
                </div>
            </div>
            <div class="occasional">
                <h5>Types :</h5>
                <div class="colr ert">
                    <label class="radio"><input type="radio" name="radio" checked=""><i></i>Casual Shoes</label>
                </div>
                <div class="colr">
                    <label class="radio"><input type="radio" name="radio"><i></i>Sneakers </label>
                </div>
                <div class="colr">
                    <label class="radio"><input type="radio" name="radio"><i></i>Formal Shoes</label>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="occasion-cart">
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                    <form action="#" method="post">
                        <fieldset>
                            <input type="hidden" name="cmd" value="_cart">
                            <input type="hidden" name="add" value="1">
                            <input type="hidden" name="business" value=" ">
                            <input type="hidden" name="item_name" value="Wing Sneakers">
                            <input type="hidden" name="amount" value="650.00">
                            <input type="hidden" name="discount_amount" value="1.00">
                            <input type="hidden" name="currency_code" value="USD">
                            <input type="hidden" name="return" value=" ">
                            <input type="hidden" name="cancel_return" value=" ">
                            <input type="submit" name="submit" value="Add to cart" class="button">
                        </fieldset>
                    </form>
                </div>

            </div>
            <ul class="social-nav model-3d-0 footer-social w3_agile_social single_page_w3ls">
                <li class="share">Share On : </li>
                <li>
                    <a href="#" class="facebook">
                        <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="twitter">
                        <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="instagram">
                        <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="pinterest">
                        <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                    </a>
                </li>
            </ul>

        </div>
        <div class="clearfix"> </div>
        <!-- /new_arrivals -->
        <div class="responsive_tabs_agileits">
            <div id="horizontalTab">
                <ul class="resp-tabs-list">
                    <li>Description</li>
                   
                </ul>
                <div class="resp-tabs-container">
                    <!--/tab_one-->
                    <div class="tab1">
                        <div class="single_page_agile_its_w3ls">
                            @Html.Raw(@Model.product.Description)
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
        <!-- //new_arrivals -->
        <!--/slider_owl-->
        
        <div class="w3_agile_latest_arrivals">
            <h3 class="wthree_text_info">Featured <span>Arrivals</span></h3>
            @foreach (var item in Model.productsHot)
            {
              
            <div class="col-md-3 product-men single">
                <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                        <img src="@Url.ImageProductInfo(@item)" alt="" class="pro-image-front">
                        <img src="@Url.ImageProductInfo(@item)" alt="" class="pro-image-back">
                        <div class="men-cart-pro">
                            <div class="inner-men-cart-pro">
                                <a href="single.html" class="link-product-add-cart">Quick View</a>
                            </div>
                        </div>
                        <span class="product-new-top">Hot</span>

                    </div>
                    <div class="item-info-product ">
                        <h4><a href="single.html">@item.Name</a></h4>
                        <div class="info-product-price">
                            <span class="item_price">@item.SellingPrice.MoneyToStringVN() VNĐ</span>
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                            <form action="#" method="post">
                                <fieldset>
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="business" value=" ">
                                    <input type="hidden" name="item_name" value="Sleeveless Solid Blue Top">
                                    <input type="hidden" name="amount" value="30.99">
                                    <input type="hidden" name="discount_amount" value="1.00">
                                    <input type="hidden" name="currency_code" value="USD">
                                    <input type="hidden" name="return" value=" ">
                                    <input type="hidden" name="cancel_return" value=" ">
                                    <input type="submit" name="submit" value="Add to cart" class="button">
                                </fieldset>
                            </form>
                        </div>

                    </div>
                </div>
            </div>       
          }
            <div class="clearfix"> </div>
            <!--//slider_owl-->
        </div>
    </div>
</div>
<!--//single_page-->
@section Styles 
{
<link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css" media="screen" />

    
}
@section scripts
{
    	<!-- single -->
<script src="~/Scripts/imagezoom.js"></script>
<!-- single -->
    <!-- FlexSlider -->
<script src="~/Scripts/jquery.flexslider.js"></script>
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
<!-- //FlexSlider-->
}