@using Mango.Common
@using Mango.Client.Common
@using Mango.Services
@using Mango.Security
@using Mango.Data.Enums
@using Mango.Web
@using Mango.Data
@model Mango.Models.HomeModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Banner")


@*<div class="banner_bottom_agile_info">
    <div class="container">
        <div class="banner_bottom_agile_info_inner_w3ls">
            <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                <figure class="effect-roxy">
                    <img src="/Content/images/bottom1.jpg" alt=" " class="img-responsive" />
                    <figcaption>
                        <h3><span>F</span>all Ahead</h3>
                        <p>New Arrivals</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                <figure class="effect-roxy">
                    <img src="/Content/images/bottom2.jpg" alt=" " class="img-responsive" />
                    <figcaption>
                        <h3><span>F</span>all Ahead</h3>
                        <p>New Arrivals</p>
                    </figcaption>
                </figure>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>*@

 <!-- banner-bootom-w3-agileits -->
@*<div class="banner-bootom-w3-agileits">
    <div class="container">
        <h3 class="wthree_text_info">What's <span>Trending</span></h3>

        <div class="col-md-5 bb-grids bb-left-agileits-w3layouts">
            <a href="womens.html">
                <div class="bb-left-agileits-w3layouts-inner grid">
                    <figure class="effect-roxy">
                        <img src="/Content/images/bb1.jpg" alt=" " class="img-responsive" />
                        <figcaption>
                            <h3><span>S</span>ale </h3>
                            <p>Upto 55%</p>
                        </figcaption>
                    </figure>
                </div>
            </a>
        </div>
        <div class="col-md-7 bb-grids bb-middle-agileits-w3layouts">
            <a href="mens.html">
                <div class="bb-middle-agileits-w3layouts grid">
                    <figure class="effect-roxy">
                        <img src="/Content/images/bottom3.jpg" alt=" " class="img-responsive" />
                        <figcaption>
                            <h3><span>S</span>ale </h3>
                            <p>Upto 55%</p>
                        </figcaption>
                    </figure>
                </div>
            </a>
            <a href="mens.html">
                <div class="bb-middle-agileits-w3layouts forth grid">
                    <figure class="effect-roxy">
                        <img src="/Content/images/bottom4.jpg" alt=" " class="img-responsive">
                        <figcaption>
                            <h3><span>S</span>ale </h3>
                            <p>Upto 65%</p>
                        </figcaption>
                    </figure>
                </div>
            </a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>*@

<!--/grids-->
@*<div class="agile_last_double_sectionw3ls">
    <div class="col-md-6 multi-gd-img multi-gd-text ">
        <a href="womens.html"><img src="/Content/images/bot_1.jpg" alt=" "><h4>Flat <span>50%</span> offer</h4></a>

    </div>
    <div class="col-md-6 multi-gd-img multi-gd-text ">
        <a href="womens.html"><img src="/Content/images/bot_2.jpg" alt=" "><h4>Flat <span>50%</span> offer</h4></a>
    </div>
    <div class="clearfix"></div>
</div>*@
<!--/grids-->
<!-- /new_arrivals -->
<div class="new_arrivals_agile_w3ls_info">
    <div class="container">
        <h3 class="wthree_text_info">New <span>Arrivals</span></h3>
        <div id="horizontalTab">
            <ul class="resp-tabs-list">
                @foreach (var item in @Model.menus)
                {
                    <li>@item.Name</li>
                }
              
            </ul>
            <div class="resp-tabs-container">
                @{ var tab1 = 0; }

                @foreach(var menu in @Model.menus)
                {
                    <!--/tab_one-->
                <div class="tab@(tab1++)">
                    @foreach (var product in @menu.products)
                    {
                        <div class="col-md-3 product-men">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item">
                                    <img src="@Url.ImageProductInfo(product)" alt="" class="pro-image-front">
                                    <img src="@Url.ImageProductInfo(product)" alt="" class="pro-image-back">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a href="@Url.Action("Detail", "Products", new { id = product.Id })" class="link-product-add-cart">Quick View</a>
                                        </div>
                                    </div>
                                    <span class="product-new-top">New</span>

                                </div>
                                <div class="item-info-product ">
                                    <h4><a>@product.Name</a></h4>
                                    <div class="info-product-price">
                                        <span class="item_price">@product.SellingPrice.MoneyToStringVN()</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                        <div class="clearfix"></div>
                    </div>
                }
                
                <!--//tab_one-->
            </div>
        </div>
    </div>
</div>
<!-- //new_arrivals -->
<!-- /we-offer -->
<div class="sale-w3ls">
    <div class="container">
        <h6>We Offer Flat <span>40%</span> Discount</h6>

        <a class="hvr-outline-out button2" href="single.html">Shop Now </a>
    </div>
</div>
<!-- //we-offer -->

